<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.nameOfUser}]]</b>
            </p>
            <input type="submit" value="Sign out"/>
        </form>
    </div>
    <div>
        <h3>List of users</h3>
    </div>
    <div>
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}">User Id</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.email}">Email</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>